.outerLeagueTable {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.leagueTable {
  margin-top: 2.3rem;
  width: 96%;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px grey;
  background-color: white;
  text-align: left;

  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10rem;
  margin-bottom: 4rem;
}

tbody tr {
  border-bottom: 1px solid rgb(216, 214, 214);
}

th {
  padding: 1rem 2rem;
  padding-top: 5rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: grey;
  font-weight: 900;
  /* border-bottom: 1px solid grey; */
}

td {
  padding: 1rem 2rem;
  /* border-bottom: 1px solid grey; */
}

.leagueImgOuterContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leagueImgInnerContainer img {
  width: 50px;
  height: 50px;
}

.innerLeagueTable {
  width: 96%;
  margin-left: 1%;
  padding: 2rem;
}

tbody tr:hover {
  box-shadow: 0 5px 1px rgba(128, 128, 128, 0.184);
  /* transition: all 0.5s ease; */
}

tbody {
  border-top: 1px solid rgb(216, 214, 214);
}

tbody tr:first-of-type {
  border-bottom: 0.5px solid rgb(216, 214, 214);
}
